body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    /* 1rem=16px */
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 72px;
    /* margin-right: 5px; */
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;

}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.5rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 0.25rem;
}

.library {
    background-color: #121212;
    border-radius: 1.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option img {
    height: 1.5rem;
    width: 1.5rem;
}

.icon {
    font-size: 1.2rem;
}

.icon i {
    padding-right: 0.5rem;
    opacity: 0.7;
}

.icon i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    height: 8rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 500;
}

.box-p2 {
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 0.5rem;
    padding: 0.25rem 1rem;
    line-height: 2rem;
    width: fit-content;
}

.sticky-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #121212;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}

.sticky-a {
    margin-left: 0.75rem;
}

.sticky-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-items {
    margin-right: 1rem;
}

.dark {
    background-color: #000;
    color: #fff;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.imgg {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 50%;
    width: 90%;
    border-top: 1px solid white;
    opacity: 0.5;
}

.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-album {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0.4rem; */
}

.album-icon {
    height: 1.1rem;
    /* padding-right: 0.7rem; */
    /* margin-left: 0.9rem; */
    opacity: 0.8;
}

.album-icon:hover {
    opacity: 1;
}

.album-icon2 {
    height: 1.8rem;
    margin-left: 0.7rem;
}

.album-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin-left: 0.7rem;
    margin-right: 0.8rem;

}

.album-p1 {
    font-size: 0.8rem;
    font-weight: 600;
    /* padding-top: 0.5rem; */
    margin: 0;
    position: relative;
    top: -4px;
}

.album-p2 {
    font-size: 0.6rem;
    font-weight: 400;
    opacity: 0.6;
    padding-bottom: 0.3rem 0 0 0.5rem;
    margin: 0;
}

.album-picture {
    height: 70%;
}


.center-player {
    width: 50%;
}

.player-control-icon {
    height: 1rem;
    margin-right: 1.75rem;
    opacity: 0.5;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-control {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    height: 0.2rem;
    background-color: #ddd;
    border-radius: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;
}

.right-controls {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right-icon {
    height: 2rem;
    margin-right: 0.15rem;
    opacity: 0.7;
}

.right-icon-3 {
    height: 1.1rem;
    opacity: 0.5;
    margin-right: 0.3rem;
}

.right-icon-4 {
    height: 0.9rem;
    opacity: 0.5;
    margin-right: 0.5rem;
}

.right-icon:hover {
    opacity: 2;
}

.volume-bar {
    width: 3rem;
    margin-right: 2.5rem;
}

.volume-bar::-webkit-slider-runnable-track {
    height: 0.2rem;
    background-color: #ddd;
    border-radius: 0.2rem;
    width: 2rem;

}

.volume-bar::-webkit-slider-thumb {
    display: none;
    /* appearance: none;
      height: 1rem;
      width: 1rem;
      background-color:#1bd760;
border-radius: 50%;
margin-top: -6px; */
}